body {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

iframe { 
	display: block; 
	margin: 0 auto; 
}

.dropDown {
  position:fixed !important;
  height: auto !important;
  overflow: visible !important;
}

.jumbotron {
  text-align: center;
}

.panel-heading button {
  width:100px; 
  max-width:100px;
}

.buttons {
  display: none;
  float: right;
  padding: 5px;
}

.dlt {
  display: none;
}

.admin .dlt {
  display: inline-block;
}

.admin .buttons {
  display: block;
}

.buttons button.btn {
    padding: 3px 10px;
}

.thumb {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.btn-primary {
  background-color: #FF0000;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  background-color: #FFF;
  color: #FF0000;
}

table > thead{
  border: 2px solid #dddddd;
  border-top-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}


table > tbody > tr {
  border: 1px solid #dddddd;
  border-top-width:0px;
  border-right-width:0px;
  border-left-width:0px;
}

#search {
	position: fixed;
	margin-bottom: 0px;
  padding: 0px;
  bottom: 0;
  width: 100%; 
}

#mainContent{
	margin-bottom: 100px;
}

.panel-title a {
    text-align: center;
    width: 100%;
    display: block;
    outline: none;
}

.white-well {
  background: white;
  text-align: center;
}

#skipSongButton:after,
#playSongButton:after,
#pauseSongButton:after,
.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  float: right;
}

.panel-heading a:after{
  color: grey;
  content:"\e114";
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

#skipSongButton:after {
  content:"\e077";
}

#playSongButton:after {
  content:"\e072";
}

#pauseSongButton:after {
  content:"\e073";
}

.song, .placeholder {
  padding: 2px;
  width: 100px;
  height: 50px;
  border: 1px solid #333;
}

header {
  background-color: #000;
}

header h1 {
  background-color: #FF0000;
  display: inline-block;
  color: #fff;
  margin: 0;
  padding: 0 20px 0 20px;
  line-height: 40px;
  font-size: 20px;
  vertical-align: middle;
}

header h3 {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 40px;
}

.pane h3 {
  margin: 0 0 20px;
  padding: 0;
}

.pane img {
  border: 10px solid #fff;
}

.dropdown {
  display: none;
}

@media screen and ( min-width: 720px ){
  #showcase .pane.video {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 70%;
  }

  #showcase .pane {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 25%;
  }
}